{
  "id": "af6fbef3-1c68-44a4-96e3-8abcbd363d50",
  "name": null,
  "timestamp": "2024-01-15T22:06:00.619062",
  "metadata": {
    "metric_presets": [
      "TargetDriftPreset"
    ]
  },
  "tags": [],
  "suite": {
    "metrics": [],
    "metric_results": [],
    "tests": [],
    "test_results": [],
    "options": {
      "color": null,
      "render": null,
      "custom": {}
    }
  },
  "metrics_ids": [],
  "test_ids": [],
  "options": {
    "color": null,
    "render": null,
    "custom": {}
  }
}