{
  "id": "c2394b69-6e02-4e57-861e-4aab56062eca",
  "name": null,
  "timestamp": "2024-01-17T17:08:54.934135",
  "metadata": {
    "metric_presets": [
      "TargetDriftPreset"
    ]
  },
  "tags": [],
  "suite": {
    "metrics": [],
    "metric_results": [],
    "tests": [],
    "test_results": [],
    "options": {
      "color": null,
      "render": null,
      "custom": {}
    }
  },
  "metrics_ids": [],
  "test_ids": [],
  "options": {
    "color": null,
    "render": null,
    "custom": {}
  }
}